body {
  background: #dfe7e5;
}

a {
  color: #f9f8fe;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #988977;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
